@import '../variables.scss';

.navbar-offset {
  margin-top: $navbar-height * 2;
}

.navbar {
  // overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: $navbar-height;
  &,
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > .container {
    padding: 0;
  }
  &__left {
    border-right: 1px solid rgba($grey, 0.6);
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__right {
    border-right: 1px solid rgba($grey, 0.6);
  }
  &__brand {
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
  ul,
  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
  }
  &__item {
    background: transparent;
    float: left;
    display: block;
    padding: 0rem 1rem;
    margin: 0;
    font-weight: 500;
    border: none;
    border-left: 1px solid rgba($grey, 0.6);
    &:hover,
    &:focus {
      color: $primary;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  &__menu {
    @extend .navbar__item;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    width: $navbar-height;
    height: $navbar-height;
    border-right: 1px solid rgba($grey, 0.6);
  }
}
