@import '../variables.scss';

.price-box {
  width: $price-box-size;
  height: $price-box-size;
  display: flex;
  @include fill($primary);
  @each $name, $color in $theme-colors {
    &--#{$name} {
      @include fill($color);
    }
  }
  &__price {
    margin: auto;
    color: inherit;
    font-weight: 600;
    text-align: center;
    color: inherit;
  }
}
