.social-icon {
  @include fill(#2e2e2e);
  width: 3rem;
  height: 3rem;
  border-radius: 0;
  display: inline-flex;
  & > * {
    margin: auto;
    text-align: center;
  }
  &,
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
