@import 'bootstrap/scss/mixins';

.special-offers {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  &__offer {
    width: 32.5%;
    padding-top: 23%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &__label {
      padding: 0.3rem 0.6rem;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 0.7rem;
      color: white;
      background-color: rgba(#242424, 0.8);
      word-break: normal;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      @include media-breakpoint-up(lg) {
        transform: translate(-50%, -50%) scale(2);
        font-size: 0.85rem;
      }
    }
  }
}
