@import 'mixins.scss';
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';
@import 'components/navbar.scss';
@import 'components/search-field.scss';
@import 'components/pricebox.scss';
@import 'components/slider.scss';
@import 'components/special-offers.scss';
@import 'components/shoe-card.scss';
@import 'components/list.scss';
@import 'components/tweet.scss';
@import 'components/social-icon.scss';
@import 'components/flickr-image.scss';
@import 'components/modal.scss';
@import 'layout/footer.scss';
@import 'utils.scss';

.form-control-dark {
  // @include fill($dark);
  background: $dark;
  color: rgba($grey, 0.6);
  border-color: rgba($grey, 0.6);
  &:hover,
  &:focus {
    // @include fill($dark);
    &,
    &::placeholder {
      background: $dark;
      color: rgba($grey, 0.9);
      border-color: rgba($grey, 0.9);
    }
  }
  &::placeholder {
    // @include color($dark);
    background: $dark;
  }
}

::selection {
  @include fill($primary);
}

.row-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#email-text-field {
  @include fill($dark);
  border: none;
  border-radius: 0;
  &:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba($dark-grey, 0.25);
    box-shadow: 0 0 0 0.2rem rgba($dark-grey, 0.25);
  }
}

#newsletter-form {
  max-width: 280px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

#social-icons {
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    margin: 0;
    margin-left: auto;
  }
}

#search-text-field {
  border-radius: 0;
  height: $navbar-height;
  text-align: left;
  padding: 1rem 2rem;
  padding-right: 4rem;
  font-weight: 500;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

#open-text-field-search-button-li {
  display: none;
  @include media-breakpoint-down(sm) {
    display: initial;
  }
}

#open-text-field-search-button {
  width: $navbar-height;
  height: $navbar-height;
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

#text-field-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  background: $light;
  &:focus {
    background: $light;
  }
  border: none;
  padding: 0 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease 0.15s;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  &.active {
    pointer-events: initial;
    opacity: 1;
    transform: translateX(0%);
  }
}

#login-or-register-button {
  z-index: 10;
  padding: 0rem 2rem;
  background: $dark;
  color: rgba($grey, 0.6);
  border: 1px solid rgba($grey, 0.6);
  font-weight: 500;
  border-radius: 0;
  height: 3.5rem;
  &:hover,
  &:focus {
    color: rgba($grey, 0.9);
    border: 1px solid rgba($grey, 0.9);
  }
}

#slide-1,
#slide-2,
#slide-3 {
  background-size: contain;
  background-repeat: no-repeat;
}

#products-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 100%;
  .jumbotron {
    @include media-breakpoint-up(lg) {
      width: 50%;
      margin-left: auto;
    }
  }
}
