@import 'mixins.scss';
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';
@import 'components/navbar.scss';
@import 'components/pricebox.scss';
@import 'components/slider.scss';
@import 'components/special-offers.scss';
@import 'components/shoe-card.scss';
@import 'components/list.scss';
@import 'components/social-icon.scss';
@import 'layout/footer.scss';
@import 'utils.scss';

.form-control-dark {
  @include fill($dark);
  text-align: right;
  border-color: $light;
  &:focus {
    @include fill($dark);
  }
  &::placeholder {
    @include color($dark);
  }
}

::selection {
  @include fill($primary);
}

#email-text-field {
  @include fill($dark);
  border: none;
  border-radius: 0;
  &:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba($dark-grey, 0.25);
    box-shadow: 0 0 0 0.2rem rgba($dark-grey, 0.25);
  }
}

#newsletter-form {
  max-width: 280px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

#social-icons {
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    margin: 0;
    margin-left: auto;
  }
}

#search-text-field {
  border-radius: 0;
  height: $navbar-height;
  text-align: left;
  padding: 1rem 2rem;
  padding-right: 4rem;
  max-width: 220px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

#open-text-field-search-button-li {
  display: none;
  @include media-breakpoint-down(sm) {
    display: initial;
  }
}

#open-text-field-search-button {
  width: $navbar-height;
  height: $navbar-height;
  border: none;
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

#login-or-register-button {
  border: none;
}

#slide-1,
#slide-2,
#slide-3 {
  background-size: contain;
  background-repeat: no-repeat; 
}
