$body-bg: #ebe7df;
$body-color: #242424;

$theme-colors: (
  'primary': #57c5a0,
  'danger': #ff4136,
  'dark': #2e2e2e,
  'darker': #212121,
  'accent': #f27e4b,
  'white': #fff,
  'grey': #adadad,
);

$light: map-get(
  $map: $theme-colors,
  $key: light,
);

$dark: map-get(
  $map: $theme-colors,
  $key: dark,
);

$primary: map-get(
  $map: $theme-colors,
  $key: primary,
);

$white: map-get(
  $map: $theme-colors,
  $key: white,
);

$navbar-height: 7rem;

$price-box-size: 5rem;
