<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.scss" />
  </head>
  <body class="navbar-offset">
    <nav class="position-fixed fixed-top w-100">
      <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-primary text-uppercase" href="/">
            FooseShoes
          </a>

          <form class="form-inline">
            <input
              class="form-control form-control-dark mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Login or register
            </button>
          </form>
        </div>
      </div>
      <div class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a href="" class="nav-link">
                  star
                  <div class="badge badge-grey text-light">30</div>
                </a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">
                  shopping_cart
                  <span class="badge badge-primary text-light">0</span>
                </a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <main>
      <div class="slider">
        <div class="slider__slide container">
          <div class="jumbotron">
            <div class="price-box">
              <div class="price-box__price">145.99</div>
            </div>
            <h1 class="display-4 font-weight-normal">Pink Shoes 2013 Collection</h1>
            <p class="h5 font-weight-normal mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloribus saepe, dicta dolorem nostrum vitae perferendis.
            </p>
            <button class="btn btn-light">eye</button>
            <button class="btn btn-light">start_outlined</button>
            <button class="btn btn-light">share</button>
            <button class="btn btn-light">cart</button>
          </div>
        </div>
  
        <div class="slider__controls">
          <button class="slider__controls__control slider__controls__control--active">
            <div class="h4 mb-0">Pink Shoes</div>
            <div class="h6 text-grey">Now at $145.99</div>
          </button>
          <button class="slider__controls__control">
            <div class="h4 mb-0">Ana Field</div>
            <div class="h6 text-grey">Limited Edition</div>
          </button>
          <button class="slider__controls__control">
            <div class="h4 mb-0">Prada</div>
            <div class="h6 text-grey">Summer is coming</div>
          </button>
        </div>
      </div>
      <div class="bg-darker">
        <div class="special-offers container">
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              on sale
            </div>
          </div>
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              special offers
            </div>
          </div>
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              must have
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="h4 font-weight-normal mt-2 mb-2 p-2">
          New arrivals on FooseShoes
        </h2>
        <div class="row no-gutters">
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Even&Odd
              </h3>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Even&Odd
              </h3>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
              <div class="shoe-card__badge">
                <div class="price-box price-box--dark">
                  <div class="price-box__price text-uppercase">
                    on sale!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Buffalo Decollete
              </h3>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="h4 font-weight-normal mt-2 mb-2 p-2">
          Best sellers of the month
        </h2>
        <div class="row no-gutters">
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Even&Odd
              </h3>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Even&Odd
              </h3>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="shoe-card" tabindex="0">
              <div class="shoe-card__media"></div>
              <div class="shoe-card__actions">
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>eye</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>star</i></button>
                <button class="shoe-card__actions__action btn btn-outline-dark"><i>share</i></button>
                <button class="shoe-card__actions__action btn btn-outline-primary"><i>shopping_cart</i></button>
              </div>
              <h3 class="shoe-card__title">
                Buffalo Decollete
              </h3>
              <div class="shoe-card__badge">
                <div class="price-box price-box--accent">
                  <div class="price-box__price text-uppercase text-dark">
                    out of stock
                  </div>
                </div>
              </div>
              <div class="shoe-card__price">
                <div class="price-box">
                  <div class="price-box__price">
                    $145.99
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <hr>
      </div>
      <div class="container">
        <div class="row no-gutters mb-3">
          <div class="col-md-3 p-2">
            <div class="card h-100">
              <div class="card-body bg-light-grey">
                <h5 class="card-title text-uppercase">
                  free shipping
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, itaque dolorem? Optio consectetur maiores dolore rem quibusdam.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-2">
            <div class="card h-100">
              <div class="card-body bg-light-grey">
                <h5 class="card-title text-uppercase">
                  testimonials
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui blanditiis voluptatibus voluptate et nesciunt inventore odio velit cupiditate?
                </p>
                <p class="card-text"><em>- John Doe -</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-2">
            <div class="card h-100">
              <div class="card-body bg-light-grey">
                <h5 class="card-title text-uppercase">
                  blog news
                </h5>
                <p class="card-text">
                  <ul class="list">
                    <li class="list__item">
                      <div class="list__item__icon">
                        <div class="price-box w-inherit h-inherit">
                          <div class="price-box__price text-uppercase h6 p-2 font-weight-bolder">apr 01</div>
                        </div>
                      </div>
                      <div class="list__item__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, odit, exercitationem aliquam repellat incidunt culpa sit veritatis placeat, nesciunt aut.</div>
                    </li>
                    <li class="list__item">
                      <div class="list__item__icon">
                        <div class="list__item__icon">
                          <div class="price-box w-inherit h-inherit">
                            <div class="price-box__price text-uppercase h6 p-2 font-weight-bolder">apr 01
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list__item__text">
                        Vero, quisquam minima dignissimos sequi placeat dolorum blanditiis? Consectetur nisi voluptas saepe enim autem recusandae corporis sunt accusamus.
                      </div>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="card bg-transparent border-0 h-100">
                <div class="card-body pl-0 pr-0">
                  <h5 class="card-title text-uppercase">
                    Text widget
                  </h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur esse, omnis, incidunt temporibus totam minima, consequatur veniam ipsam velit nostrum assumenda cupiditate? Incidunt suscipit reprehenderit corporis dolor esse voluptate dolorum.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card bg-transparent border-0 h-100">
                <div class="card-body pl-0 pr-0">
                  <h5 class="card-title text-uppercase">
                    Twitter widget
                  </h5>
                  <p class="card-text">
                    <a href="#">@ericafustero</a> Why thank you. Your work looks awesome by the way! <a href="#">@treemelody</a>
                    <em class="pt-1 d-block">19 days ago</em>
                  </p>
                  <p class="card-text">
                    <a href="#">@raymarvelous</a> You can seek a refund through TF if it is not as advertised - but it is :)</a>
                    <em class="pt-1 d-block">21 days ago</em>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="card bg-transparent border-0 h-100">
                <div class="card-body pl-0 pr-0">
                  <h5 class="card-title text-uppercase">
                    Flickr widget
                  </h5>
                  <p class="card-text">
                    <div class="row no-gutters">
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                      <div class="col-4 p-1">
                        <div class="w-100 bg-white" style="padding-top: 75%"></div>
                      </div>
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <div class="card bg-transparent border-0 h-100">
                <div class="card-body pl-0 pr-0">
                  <div class="card-text">
                    <div class="input-group" id="newsletter-form">
                      <input type="text" class="form-control" placeholder="Enter email for newsletter" id="email-text-field" >
                      <div class="input-group-prepend">
                        <button class="btn btn-dark-grey border-radius-0" id="send-email-button" aria-label="subscribe to our newsletter">
                          <span aria-hidden="true">></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="card bg-transparent border-0 h-100">
                <div class="card-body pl-0 pr-1" id="social-icons">
                  <a href="#" class="social-icon"
                    aria-label="Go to our Facebook page">
                    <span aria-hidden="true">F</span>
                  </a>
                  <a href="#" class="social-icon"
                    aria-label="Go to our Twitter page">
                    <span aria-hidden="true">T</span>
                  </a>
                  <a href="#" class="social-icon"
                    aria-label="Go to our Google Plus page">
                    <span aria-hidden="true">G</span>
                  </a>
                  <a href="#" class="social-icon"
                    aria-label="Go to our LinkedIn page">
                    <span aria-hidden="true">L</span>
                  </a>
                  <a href="#" class="social-icon"
                    aria-label="Go to our Flickr page">
                    <span aria-hidden="true">.</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom__left">
            Copyright &copy; Fooseshoes 2013.<br/>
            Designed by EnzoLiVolti
          </div>
          <div class="footer__bottom__right">
            <ul class="footer__list">
              <li class="footer__list__item"><a href="#">Home</a></li>
              <li class="footer__list__item"><a href="#">Support</a></li>
              <li class="footer__list__item"><a href="#">Terms and Conditions</a></li>
              <li class="footer__list__item"><a href="#">Faqs</a></li>
              <li class="footer__list__item"><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script async defer src="../js/index.js"></script>
  </body>
</html>
