<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.scss" />
  </head>
  <body class="navbar-offset">
    <nav class="position-fixed fixed-top w-100">
      <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-primary text-uppercase" href="/">
            FooseShoes
          </a>

          <form class="form-inline">
            <input
              class="form-control form-control-dark mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Login or register
            </button>
          </form>
        </div>
      </div>
      <div class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a href="" class="nav-link">
                  star
                  <div class="badge badge-grey text-light">30</div>
                </a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">
                  shopping_cart
                  <span class="badge badge-primary text-light">0</span>
                </a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <main>
      <div class="slider">
        <div class="slider__slide container">
          <div class="jumbotron">
            <div class="price-box">
              <div class="price-box__price">145.99</div>
            </div>
            <h1 class="display-4 font-weight-normal">Pink Shoes 2013 Collection</h1>
            <p class="h5 font-weight-normal mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloribus saepe, dicta dolorem nostrum vitae perferendis.
            </p>
            <button class="btn btn-light">eye</button>
            <button class="btn btn-light">start_outlined</button>
            <button class="btn btn-light">share</button>
            <button class="btn btn-light">cart</button>
          </div>
        </div>
  
        <div class="slider__controls">
          <button class="slider__controls__control slider__controls__control--active">
            <div class="h4 mb-0">Pink Shoes</div>
            <div class="h6 text-grey">Now at $145.99</div>
          </button>
          <button class="slider__controls__control">
            <div class="h4 mb-0">Ana Field</div>
            <div class="h6 text-grey">Limited Edition</div>
          </button>
          <button class="slider__controls__control">
            <div class="h4 mb-0">Prada</div>
            <div class="h6 text-grey">Summer is coming</div>
          </button>
        </div>
      </div>
      <div class="bg-darker">
        <div class="special-offers container">
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              on sale
            </div>
          </div>
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              special offers
            </div>
          </div>
          <div class="special-offers__offer">
            <div class="special-offers__offer__label">
              must have
            </div>
          </div>
        </div>
      </div>
    </main>

    <script async defer src="../js/index.js"></script>
  </body>
</html>
